.Seller-details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.seller-details-status-nav {
  align-items: center;
  background-color: lightgray;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19) , 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
  width: 80vw;
}

.seller-details-status-nav button {
  background-color: lightseagreen;
  border: none;
  height: 50px;
  width: max-content;
}
